<!DOCTYPE html>
<html> 
    <head>
        <title> About Page!</title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/js/app.js"></script>    
    </head>

    <body>
        <div class="about-content">
            {{>header}}
            <p> This site was created by Stark. This uses data from mapbox.com and darkskyapi.net! </p>
            <img class="portrait" src="/images/robot.png">
        </div>

        {{>footer}}
    </body>
</html> 