<!DOCTYPE html>
<html> 
    <head>
        <title> AddfractionsArray page! </title>
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/New_Fractions/src/utils/fraction.js"></script>    
    </head>

    <body>
        <div class="help-content">
            {{>header}}
        </div>

        {{>footer}}
    </body>
</html> 