<!DOCTYPE html>
<html> 
    <head>
        <title> addFractions Page!</title>
        <link rel="stylesheet" href="/css/styles.css">
        <script>

            var steps = []
            var comfac
            var counter = 1;

            var fraction = {
                numerator : Number,
                denominator : Number,
                input: function(a, b)   {
                    this.numerator = a,
                    this.denominator = b
                }
            }
            
            function gcd(a, b) {
                if (a === 0)
                    return b
                return gcd(b%a, a)
            }
            
            const lowest = function(den3, num3)  {  
                const common_factor = gcd(num3, den3)
                comfac = common_factor
                den3 = den3/common_factor  
                num3 = num3/common_factor
                var ret = new fraction.input(num3, den3)
                return ret
            }
            
            const addFraction = function(n1, n2)     {
                var n3 = new fraction.input(0, 1)
                n3.denominator = gcd(n1.denominator, n2.denominator)
                
                steps.push("Step " + counter++ + ". Find the LCM of the factors of the two denominators : (" + n1.denominator + ', ' + n2.denominator + ') = ' + n3.denominator + "<br>")
                
                n3.denominator = (n1.denominator * n2.denominator)/n3.denominator
                steps.push("Step " + counter++ + ". Find the LCM denominator : (" + n1.denominator + ', ' + n2.denominator + ') = ' + n3.denominator + "<br>")
                
                n3.numerator = (n1.numerator) * (n3.denominator/n1.denominator) + (n2.numerator) * (n3.denominator/n2.denominator)
                steps.push("Step " + counter++ + ". Convert the two numerators according to the respective denominators and add them : (" + n1.numerator + ' * ' + n3.denominator + ' / ' + n1.denominator + ') + (' + n2.numerator  + ' * ' + n3.denominator + ' / ' + n2.denominator + ")<br>")
                
                n3 = lowest(n3.denominator, n3.numerator)
                steps.push("Step " + counter++ + ". To simplify the obtained fraction, divide both numerator and denominator by a common factor : (" + (n3.numerator*comfac) + ' / ' + comfac + ') = ' + n3.numerator + " and (" + (n3.denominator*comfac) + ' / ' + comfac + ') = ' + n3.denominator + "<br>")
                
                return n3
            }  
            
            const addFractionArray = function(array, n, sum)     {
                if(n == 0)
                    return 0
                sum = addFraction(sum, array[n-1])
                if(n==1)    {
                    sum = lowest(sum.denominator, sum.numerator)
                    steps.push("Step " + counter++ + ". The sum of the two fractions is " + sum.numerator + '/' + sum.denominator + "<br>")
                    document.getElementById("sum").innerHTML = sum.numerator + '/' + sum.denominator
                }
                addFractionArray(array, n-1, sum)
            }

            const initSteps = function()    {
                document.getElementById("steps").innerHTML = steps
            }
        </script>    
    </head>

    <body>
        <div class="about-content">
            {{>header}}
            <form>
                <label><h3> Inputs : [<h4 id="inputs"> </h4>] </h3></label> <br> <br>
            
                <label><h3> Fraction 1: </h3><input id="numerator1" placeholder="Numerator"> /
                <input id="denominator1" placeholder="Denominator">

                <h3> Fraction 2: </h3><input id="numerator2" placeholder="Numerator"> /
                <input id="denominator2" placeholder="Denominator"> </label>
            
                <button> Add </button> <br/> <br/>
            
                <label><h3> Sum =  </h3><h3 id="sum" style="color: coral;"></h3></label>
            </form>

            <form>
                <label>
                    <h3>Steps: </h3><p id="steps"></p>
                </label>
            </form>
            
            <p> <script> 
                var n1 = new fraction.input(0, 1)
                n1 = new fraction.input(document.getElementById("numerator1").value, document.getElementById("denominator1").value)
                
                var n2 = new fraction.input(0, 1)
                n2 = new fraction.input(document.getElementById("numerator2").value, document.getElementById("denominator2").value)

                var inp = [n1, n2]
                var temp = []
                var sum = new fraction.input(0, 1)
                var i

                steps.push("Step " + counter++ + ". The entered fractions are " + n1.numerator + '/' + n1.denominator + ', ' + n2.numerator + '/' + n2.denominator + "<br>")
                addFractionArray(inp, inp.length, sum)
                
                for(i = 0; i < inp.length; i++)
                    temp[i] = inp[i].numerator + '/' + inp[i].denominator 
                
                document.getElementById("inputs").innerHTML = temp
                initSteps()
            </script>  </p>
        </div>
        {{>footer}}
    </body>
</html>