<!DOCTYPE html>
<html> 
    <head>
        <title> Help page! </title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/js/app.js"></script>    
    </head>

    <body>
        <div class="help-content">
            {{>header}}
        </div>

        {{>footer}}
    </body>
</html>