<!DOCTYPE html>
<html>
<head>
    <title> Index Page! </title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content"> 
        {{>header}}
        <form>
            <input placeholder="Location">
            <button> Search </button>
        </form>
        
        <p> </p>

        <form>
        <div style = "background-color: #b6b2b2ad; padding: 8px; color: black">
            <p id="message" style="font-size: 22px; font-style: italic"></p>
            <p id="location"></p>
            <p id="forecast"></p>
            <p id="coordinates"></p> 
            <p id="latitude" style="font-size: 14px;"></p>
            <p id="longitude" style="font-size: 14px;"></p>
        </div>
        </form>
    </div>

    {{>footer}}
    <script src="/js/app.js"></script>
</body>
</html> 