<!DOCTYPE html>
<html>
<head>
    <title> Simplify Fraction! </title>
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="utf-8"/>
        <script>

            var steps = []
            var comfac
            var counter = 1;

            function gcd(a, b) {
            if (a === 0)
                return b
            return gcd(b%a, a)
        }
            
        const lowest = function(den3, num3)  {  
            const common_factor = gcd(num3, den3)
            comfac = common_factor
            steps.push("Step " + counter++ + ". Find the common factor of numerator and denominator : (" + den3 + ', ' + num3 + ") = " + common_factor + "<br>")
            den3 = den3/common_factor  
            num3 = num3/common_factor
            steps.push("Step " + counter++ + ". Divide both numerator and denominator by the common factor : (" + (den3 * comfac) + ' / ' + comfac + ") = " + den3 + " and (" + (num3 * comfac) + ' / ' + comfac + ") = " + num3 + "<br>")
            steps.push("Step " + counter++ + ". The simplified fraction is " + den3 + '/' + num3 + "<br>")
            document.getElementById("sum").innerHTML = den3 + '/' + num3
        }

        const initSteps = function()    {
                document.getElementById("steps").innerHTML = steps
        }
        </script>
    </head>

<body>
    <div class="main-content"> 
        {{>header}}
        <label> <h3>Enter a fraction :</h3><input id="numerator" placeholder="Numerator"> / 
        <input id="denominator" placeholder="Denominator"> </label>

        <button > Submit </button> <br/>

        <label> <h3> Simplified Fraction : </h3><p id="sum"></p> </label>
    </div>

    <form>
        <label>
            <h3>Steps: </h3><p id="steps"></p>
        </label>
    </form>

    <script>
        steps.push("Step " + counter++ + ". The entered fractions are " + document.getElementById("numerator").value + '/' + document.getElementById("denominator").value + "<br>")
        lowest(document.getElementById("numerator").value, document.getElementById("denominator").value)
        initSteps()
    </script>

    {{>footer}}
</body>
</html> 